body {
	background-color: black;
}

.navbar-default {
	background-color: #244D96;
	border-color: #244D96;
	background: url(../img/nav.jpg);
	background-size: cover;
}

#home {
	background: url(../img/back.imh.jpg);
	background-size: cover;
	display: table;
	height: calc(100vh - 5.1em);
	width: 100vw;
}

#child {
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-shadow: 1px 1px 2px black; 
}

#child>h2 {
	white-space: nowrap;
}

#btn-group {
	text-shadow: 0px 0px 0px;
	width: 60%;
	margin: 0% 20%;
}

#searchInput {
	color: black;
}

#searchbtn {
	margin-top: 2em;
}

#filterbtn {
	margin-top: 8px;
	margin-bottom: 8px;
	color: black;
}

#search {
	background: url(../img/map.jpg);
}

#search #single-button {
	margin-top: 8px;
	margin-bottom: 8px;
}

#search .thumbnail {
	padding-bottom: 1em;
}