body {
	background-color: black;
}

.navbar-default {
	background-color: #244D96;
	border-color: #244D96;
	background: url(../img/nav.jpg);
	background-size: cover;
}

#home {
	background: url(../img/back.imh.jpg);
	background-size: cover;
	display: table;
	height: calc(100vh - 8em);
	width: 100vw;
}

#child {
	display: table-cell;
	vertical-align: middle;
	color: white;
}

#child>h2 {
	white-space: nowrap;
}