<div id="search" ng-controller="searchController as mySearch">
	<div ng-controller="ModaldCtrl as $ctrl" class="modal-d">
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-header">
				<h3 class="modal-title" id="modal-title">{{item.Name}} </h3>
			</div>
			<div class="modal-body" id="modal-body">
				<ul>                    
					<li ng-repeat="(key, value) in item" ng-show=value ng-hide="key === 'Name'">
						<h6 ng-hide="Array.isArray(value)"><strong>{{key}}</strong> :<span>{{value}}</span></h6>
						<h6 ng-if="Array.isArray(value)" ng-init="limit = 5"><strong>{{key}} </strong> : <span ng-repeat="singlevalue in value | limitTo: limit as results"> {{singlevalue}},</span><a ng-hide="results.length === value.length" ng-click="limit = limit +2">show more...</a>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
			</div>
		</script>


		<div class="container">
			<h2>Search : {{mySearch.input}} </h2>
			<nav class="navbar navbar-inverse" style="display: inline-block;">
				<div class="input-group-btn" uib-dropdown is-open="status.isopen">
					<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
						{{mySearch.action}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
						<li role="menuitem"><a ng-click='mySearch.buttonName("Books")'>Books</a></li>
						<li role="menuitem"><a ng-click='mySearch.buttonName("Houses")'>Houses</a></li>
						<li role="menuitem"><a ng-click='mySearch.buttonName("Characters")'>Characters</a></li>
					</ul>
					<span ng-dropdown-multiselect="" options="mySearch.filters" selected-model="mySearch.filter" extra-settings="mySearch.Filtersettings"  ng-hide="mySearch.filterVisibility" id="filterbtn" ng-click='mySearch.search()'> </span>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" ng-model="mySearch.selected" class="form-control" placeholder="Search" uib-typeahead="result as result.name for result in mySearch.typeahead | filter:$viewValue | limitTo:5">
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form>
				</div>

			</nav>
			<div class="row">
				<div class="col-12 col-sm-6 col-md-3" ng-repeat= "result in mySearch.typeahead | filter: mySearch.selected | limitTo:10" id="thumbnail">
					<a class="thumbnail" ng-click="$ctrl.fetchdata(result.url,mySearch.action); $ctrl.open()">
						<h5><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>{{result.name}} </h5>
					</a>
				</div>

			</div>

		</div>
	</div>
	
</div>